<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-auto ml-lg-auto">
        Developed by
        <a href="https://github.com/DonzTea" target="_blank"
          >Doni Rahma Tiana</a
        >
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        Copyright © 2018 <a href="https://tabler.io/">Tabler</a>. Theme by
        <a href="https://codecalm.net" target="_blank">codecalm.net</a> All
        rights reserved.
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap 4 -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>

<!-- Socket.io -->
<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>

<!-- Chart.js -->
<script src="/node_modules/chart.js/dist/Chart.bundle.min.js"></script>

<!-- Color Picker -->
<script src="/node_modules/@simonwep/pickr/dist/pickr.min.js"></script>

<!-- Datatables -->
<script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/node_modules/datatables.net-plugins/dataRender/ellipsis.js"></script>

<!-- Sweetalert2 -->
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="/node_modules/promise-polyfill/dist/polyfill.min.js"></script>

<!-- Read Excel File -->
<script src="/node_modules/read-excel-file/bundle/read-excel-file.min.js"></script>

<!-- Progress bar -->
<script src="/node_modules/progressbar.js/dist/progressbar.min.js"></script>

<!-- Select2 -->
<script src="/node_modules/select2/dist/js/select2.min.js"></script>
<script src="/node_modules/select2/dist/js/i18n/id.js"></script>

<!-- Tooltips -->
<script>
  $(document).ready(() => {
    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
  });
</script>
