<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="Content-Language" content="en" />
<meta name="msapplication-TileColor" content="#2d89ef" />
<meta name="theme-color" content="#4188c9" />
<meta
  name="apple-mobile-web-app-status-bar-style"
  content="black-translucent"
/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />

<title>Klasifikasi Berita Berbahasa Indonesia</title>

<!-- Dashboard Core -->
<link rel="stylesheet" href="/css/global.css" />
<link
  rel="stylesheet"
  href="/node_modules/bootstrap/dist/css/bootstrap-grid.min.css"
/>
<link href="/css/dashboard.css" rel="stylesheet" />

<!-- Sweetalert2 -->
<link
  rel="stylesheet"
  href="/node_modules/@sweetalert2/theme-bootstrap-4/bootstrap-4.css"
/>

<!-- Chart.js -->
<link rel="stylesheet" href="/node_modules/chart.js/dist/Chart.min.css" />

<!-- Color Picker -->
<link
  rel="stylesheet"
  href="/node_modules/@simonwep/pickr/dist/themes/classic.min.css"
/>

<!-- Datatables -->
<link
  rel="stylesheet"
  href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
/>
<link
  rel="stylesheet"
  href="/node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
/>
<link rel="stylesheet" href="/css/datatables.css" />

<!-- Select2 -->
<link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css" />
<link
  rel="stylesheet"
  href="/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css"
/>
